<div class="note-control-card">
    <a class="button toggle-control">Edit</a>
    <div class="note-control hidden">
        <form class="note-form">
            <input name="id" type="hidden" value=""/>
            <label>
                <span>Note</span>
                <input name="content" type="text" value=""/>
            </label>
            <button data-action="update">Update Note</button>
            <button data-action="cancel">Cancel</button>
            <button data-action="delete">Delete Note</button>
        </form>
    </div>
</div>